@import "variables";

//*-----------------------------------------
//* Post
//*-----------------------------------------
.at_post_meta {
	color: $post_meta_color;
	font-size: $base_font_size - 2;
	margin-bottom: 1rem;
	.post-template & {
		color: $post_meta_color, 0.5
	}
}
.at_post_title {
    line-height: 2.8rem;
    margin: 0 0 5px 0;
    letter-spacing: -1px;
    font-weight: normal;
    .post-template & {
    	font-weight: 500;
    	margin: 0 0 10px 0;
    }
	@media #{$small-only} {
		line-height: 2.2rem;
	}
}
.at_home_page_post_title {
    color: $home_page_post_color;
	@include transition(color 0.2s ease-in);
	&:hover, &:focus {
		color: shade($home_page_post_color, 30%);
	}
}
.at_post_author, .at_post_time, .at_post_tags {
	display: inline-block;
	margin-right: 15px;
	@media #{$small-only} {
		display: block;
	}
}
.at_post_tags {
	margin-right: 0;
	a {
		color: $post_keywords_color;
		@include transition(color 0.2s ease-in);
		@include transition(text-decoration 0.2s ease-in);
		&:hover, &:focus {
			color: shade($post_keywords_color, 15%);
			text-decoration: underline;
		}
	}
}
.at_post_share_title {
	color: $showcase_text_color;
	text-transform: uppercase;
	opacity: 0.5;
}
.at_featured_post {
	display: none;
	.featured & {
		display: inline-block;
	    color: $featured_label_color;
	    margin-right: 15px;
	}
}
.at_post_share_icon span {
	font-size: 2rem;
	margin: 0 10px;
	color: $showcase_text_color;
	text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.3);
	opacity: 0.5;
	@include transition(all 0.2s ease-in-out);
	&:hover {
		opacity: 1;
	}
}
.at_author {
	color: $primary_color;
	background: #fff;
    border-top:1px solid $table_border_color;
	border-bottom:1px solid $table_border_color ;
    padding: 1rem;
    margin: 1rem auto;
}
.at_author_name h3 {
	color: $author_name_color;
	font-weight: 500;
}
.at_author_bio p {
	color: #000;
}
.at_author_follow {
	a{
		margin: 0 20px 0 0;
		@media #{$small-only} {
			margin: 0 5px;
			font-size: 0.8rem;
		}
	}
	.fa-twitter-square {
		color : $twitter_color;
		@include transition(color 0.2s ease-in);
		&:hover, &:focus {
			color: shade($twitter_color, 35%);
		}
	}
	.fa-google-plus {
		color : $google_plus_color;
		@include transition(color 0.2s ease-in);
		&:hover, &:focus {
			color: shade($google_plus_color, 35%);
		}
	}
	.fa-linkedin-square {
		color : $linkedin_color;
		@include transition(color 0.2s ease-in);
		&:hover, &:focus {
			color: shade($linkedin_color, 35%);
		}
	}
	.fa-github {
		color : $github_secondary_color;
		@include transition(color 0.2s ease-in);
		&:hover, &:focus {
			color: shade($github_secondary_color, 35%);
		}
	}
}
.at_author_image {
	img {
		background: #fff;
		border: 2px solid #333;
		padding: 0px;
		border-radius: 0%;
	}
}