//*-----------------------------------------
//* Main Color
//*-----------------------------------------
$primary_color: 					#ffa608;
$base_text_color: 					#000;
$base_background_color: 			#fff;

//*-----------------------------------------
//* Base Color
//*-----------------------------------------
$header_background_color: 			#333;
$logo_text_color: 					#fff;
$menu_text_color: 					#fff;
$showcase_text_color: 				#fff;
$showcase_background_color: 		$primary_color;
$top_text_color: 					#fff;
$top_background_color: 				#333;
$footer_text_color: 				#fff;
$footer_background_color: 			#333;
$featured_label_color: 				#640219;
$home_page_post_color: 				#722511;
$author_name_color: 				#722511;
$post_meta_color: 				#722511;
$table_border_color: 				#640219;

//*-----------------------------------------
//* Font
//*-----------------------------------------
$base_font_family: 					"Open Sans", sans-serif;
$base_font_size: 					16px;
$base_line_height: 					1.6;
$title_font_family:					"Open Sans Condensed", sans-serif;